pkgbase = cachyos-zen-browser-settings
	pkgdesc = CachyOS settings for Zen Browser
	pkgver = 20250626
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-zen-browser-settings
	arch = any
	depends = zen-browser
	depends = xdg-desktop-portal-impl
	provides = cachyos-zen-browser-settings
	conflicts = cachyos-zen-browser-settings
	replaces = cachyos-zen-browser-settings
	backup = opt/zen-browser-bin/distribution/policies.json
	source = cachyos.js
	source = policies.json
	sha256sums = 705a39cef81c40ac37faf95f0114a3cf2abc4fca20c404e4ee01e854810ab624
	sha256sums = 1e4c43ef30b5952df184859dc97bcab5fc34dbcd977d4852851d45a236e2f45d

pkgname = cachyos-zen-browser-settings
