// tip: on dark mode the primary and primary container are inverted
// in other words prefer to use primary container since the color is more uniform
// and use the primary for very special scenenarios but rarely
// thus if u want light mode take in account this and switch it around
// broken english cause too lazy to think
$color_primary: #a8c8ff;
$color_on_primary: #05305f;
$color_primary_container: #244777;
$color_on_primary_container: #d5e3ff;

$color_secondary: #bdc7dc;
$color_on_secondary: #273141;
$color_secondary_container: #3d4758;
$color_on_secondary_container: #d9e3f8;

$color_tertiary: #dbbce1;
$color_on_tertiary: #3e2845;
$color_tertiary_container: #563e5d;
$color_on_tertiary_container: #f8d8fe;

$color_surface: #111318;
$color_surface_container: #1d2024;

$color_on_surface: #abb2bf;
$color_on_surface_variant: #7f848e;

$color_error: #ffb3ae;
$color_on_error: #571e1c;
$color_error_container: #733330;
$color_on_error_container: #ffdad7;

$color_warning: x;
$color_on_warning: x;
$color_warning_container: yellow;
$color_on_warning_container: x;

$color_inverse_surface: #e1e2e9;
$color_inverse_on_surface: #2e3035;
$color_inverse_primary: #3e5f90;

$color_outline: #8e9199;
$color_outline_variant: #43474e;

$border_radius: 4px;

// other
$space_medium: 7.2px; // ideal for spacing parent items, ex: widgets...
$space_small: 4px; // ideal for spacing children items, ex: text in a label, icons that are next to each other...
$space_from_other_layers: 20px;

* {
   all: unset;
   font-family: "IosevkaTerm Nerd Font Mono";
   font-size: 18px;
}
