.app-launcher {
   .top-offset {
      min-height: 200px;
   }

   .main-box {
      min-width: 500px;
      background: $color_surface;
      border-radius: $border_radius;
      border: 4px solid $color_outline_variant;
      padding: 8px;

      & .the-box {
         margin-bottom: 8px;

         & .search {
            background: $color_surface_container;
            margin-right: 8px;
            border-radius: $border_radius;

            & selection {
               background: transparentize(blue, 0.5);
            }

            & > text {
               font-size: 28px;
               color: $color_on_surface;
               padding: $space_small;
            }
         }

         & .refresh {
            @include container-shape();
            background: $color_surface_container;
            color: $color_on_surface;

            &:focus {
               background: $color_secondary_container;
               color: $color_on_secondary_container;
            }

            .icon-with-label-fallback {
               &.image {
                  -gtk-icon-size: 24px;
               }

               &.label {
                  min-width: 24px;
                  min-height: 24px;
                  line-height: 1;
               }
            }
         }
      }

      & > .hotswap-box {
         & .empty-box {
            @include container-shape();
            color: $color_on_surface;
            background: $color_surface_container;
            padding: $space_small;
         }

         & .sh-box {
            @include container-shape();
            color: $color_on_surface;
            background: $color_surface_container;
            padding: $space_small;
         }

         & .apps-box {
            & > button {
               padding: $space_medium;
               background: $color_surface_container;
               border-radius: $border_radius;
               margin-bottom: 8px;

               &:last-child {
                  margin-bottom: 0;
               }

               &:hover {
                  background: $color_primary_container;

                  .name {
                     color: $color_on_primary_container;
                  }

                  .description {
                     color: $color_on_primary_container;
                  }
               }

               &.selected {
                  background: $color_primary_container;

                  .name {
                     color: $color_on_primary_container;
                  }

                  .description {
                     color: $color_on_primary_container;
                  }
               }

               & > box {
                  .icon-with-label-fallback {
                     margin-right: 8px;

                     &.image {
                        -gtk-icon-size: 55px;
                     }

                     &.label {
                        font-size: 55px;
                        min-width: 55px;
                     }
                  }

                  .name {
                     font-size: 22px;
                     color: $color_on_surface;
                  }

                  .description {
                     font-size: 18px;
                     color: $color_on_surface_variant;
                  }
               }
            }
         }
      }
   }
}
