/* -----------------------------------------------------
 * Color Scheme
 * ----------------------------------------------------- */

@import url("../css/one_dark_pro.css");

@define-color bg @black3;
@define-color fg @darker;

/* -----------------------------------------------------
 * Global Style
 * ----------------------------------------------------- */

* {
   font-size: 16px;
   font-family: "Symbols Nerd Font Mono, Iosevka Nerd Font";
   font-weight: 500;
}

/* -----------------------------------------------------
 * Default Style
 * ----------------------------------------------------- */

#custom-weather,
#privacy,
#tray,
#window,
#custom-launcher,
#workspaces,
#custom-wlogout,
#template_g_c {
   padding: 0px 5px 0px 5px;
   margin: 8.5px 8px 8.5px 0px;
   color: @text;
   border-radius: 4px;
   background-color: @fg;
   min-width: 25px;
   min-height: 25px;
}

#custom-weather_icon,
#custom-calendar_icon,
#custom-clock_icon,
#pulseaudio.icon,
#temperature.icon,
#cpu.icon,
#memory.icon,
#custom-language_icon,
#custom-notifications,
#idle_inhibitor,
#template_fusion_g_l {
   padding: 0px 5px 0px 5px;
   margin: 8.5px 0px 8.5px 0px;
   color: @text;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   background-color: @fg;
   border-right: 1px solid @border;
   min-width: 25px;
   min-height: 25px;
}

#idle_inhibitor,
#clock.calendar,
#language,
#clock,
#pulseaudio,
#cpu,
#temperature,
#memory,
#template_fusion_g_r {
   padding: 0px 5px 0px 5px;
   margin: 8.5px 8px 8.5px 0px;
   color: @text;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   background-color: @fg;
   min-width: 25px;
   min-height: 25px;
}

#network,
#custom-updater,
#template_fusion_g2_c {
   padding: 0px 5px 0px 5px;
   margin: 8.5px 0px 8.5px 0px;
   color: @text;
   border-radius: 0px;
   background-color: @fg;
   border-right: 1px solid @border;
   min-width: 25px;
   min-height: 25px;
}

/* -----------------------------------------------------
 * Bar
 * ----------------------------------------------------- */

window#waybar {
   background-color: @bg;
   color: @text;
   border-radius: 4px;
   border: 3px solid @border;
}

/* -----------------------------------------------------
 * Hyprland
 * ----------------------------------------------------- */

/*#workspaces {*/
/*   margin: 8.5px 2px 8.5px 2px;*/
/*   border-radius: 4px;*/
/*   background-color: @fg;*/
/*}*/

#workspaces button {
   padding: 2px 2px 2px 2px;
   margin: 0px 3px 0px 3px;
   background-color: transparent;
   color: alpha(@text, 0.5);
}

#workspaces button.empty {
   color: alpha(@text, 0.1);
}

#workspaces button.visible {
   color: @green;
}

#workspaces button.active {
   color: @red;
}

#workspaces button.urgent {
   color: @purple;
}

#workspaces button:first-child {
   margin: 0px 0px 0px 0px;
}

#workspaces button:last-child {
   margin: 0px 0px 0px 0px;
}

#workspaces button:hover {
   background: rgba(0, 0, 0, 0.2);
}

/* -----------------------------------------------------
 * CPU
 * ----------------------------------------------------- */

#cpu.icon {
   color: @orange;
}

#cpu {
   color: @orange;
}

/* -----------------------------------------------------
 * Audio
 * ----------------------------------------------------- */

#pulseaudio.icon {
   color: @blue;
}

#pulseaudio {
   color: @blue;
}

/* -----------------------------------------------------
 * IDLE
 * ----------------------------------------------------- */

#idle_inhibitor {
   color: @purple;
}

/* -----------------------------------------------------
 * Memory
 * ----------------------------------------------------- */

#memory.icon {
   color: @yellow;
}

#memory {
   color: @yellow;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
   color: @blue;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar button:first-child {
   margin: 0px 0px 0px 0px;
   padding-top: 0px;
}

#taskbar button:last-child {
   margin: 0px 0px 0px 0px;
   padding-bottom: 0px;
}

#taskbar button {
   padding-top: 0px;
   padding-right: 2px;
   padding-bottom: 0px;
   padding-left: 2px;
}

/* -----------------------------------------------------
 * Temperature
 * ----------------------------------------------------- */

#temperature.icon {
   color: @red;
}

#temperature {
   color: @red;
}

#temperature.critical {
   border: 1px solid @purple;
}

/* -----------------------------------------------------
 * Tooltip
 * ----------------------------------------------------- */

tooltip label {
   color: @text;
}

tooltip {
   background: alpha(@black2, 0.9);
   border: 2px solid @border;
   border-radius: 10px;
}

/* -----------------------------------------------------
 * APP Launcher
 * ----------------------------------------------------- */

#custom-launcher {
   color: @blue;
   margin-left: 10px;
}

/* -----------------------------------------------------
 * Notification Center
 * ----------------------------------------------------- */

#custom-notifications {
   color: @text;
}

#custom-notifications.notification {
   color: @red;
}

/* -----------------------------------------------------
 * wlogout
 * ----------------------------------------------------- */

#custom-wlogout {
   color: @red;
   margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#custom-clock_icon {
   color: @blue;
}

#clock {
   color: @blue;
}

#custom-calendar_icon {
   color: @orange;
}

#clock.calendar {
   color: @orange;
}
