.control-center-window {
   & .top-offset {
      min-height: 12px;
   }

   & .left-offset {
      min-width: 12px;
   }

   .main-box {
      @include container_shape();
      min-width: 500px;
      min-height: 500px;
      background: $color_surface;
      border: 4px solid $color_outline_variant;
   }
}

.control-center-notifications-box {
   @include container_shape();
   min-width: 100px;
   min-height: 500px;
   padding: $space_medium;
   background: $color_surface;

   & > box {
      margin-bottom: $space_medium;

      &:last-child {
         margin-bottom: 0;
      }
   }

   & .actions-box {
      & > button {
         @include container_shape();
         padding: $space_small;
         background: $color_surface_container;
         color: $color_on_surface;
      }
   }

   & .notifications-box {
      & .notification {
         margin-bottom: $space_medium;
         background: $color_surface_container;
         color: $color_on_surface;

         &:last-child {
            margin-bottom: 0;
         }

         & .header {
            & .close {
               @include container_shape();
               color: $color_on_secondary_container;
               background: $color_secondary_container;
            }
         }

         & .actions {
            & > button {
               @include container_shape();
               background: $color_secondary_container;

               & > label {
                  color: $color_on_surface;
               }
            }
         }
      }
   }
}
