@use "./_theme.scss" as *;
@use "./_variables.scss" as *;

window.notification-toasts-window {
   .notification-toast-box {
      background: $surface;
      border: 4px solid $outline-variant;
      border-radius: $border-radius;
      min-width: 400px;

      margin-bottom: $spacing-medium;

      .notification-header-box {
         padding: $spacing-small;

         .notification-close-button {
            min-width: 10px;
            background: red;
         }
      }

      .notification-content-box {
         padding: $spacing-small;

         .notification-body-image {
            -gtk-icon-size: 100px;
         }

         .notification-body-label {
            background: $surface-container;
         }
      }

      .notification-action-area-box {
         padding: $spacing-small;

         .notification-action-button {
            background: $surface-container;
            margin-right: $spacing-medium;

            &:last-child {
               margin-right: 0;
            }
         }
      }
   }
}
