$border-radius: 2px;

$spacing: 6px;
$spacing-medium: 6px; // ideal for spacing parent items, ex: widgets...
$spacing-small: 6px; // ideal for spacing children items, ex: text in a label, icons that are next to each other...
$window-gaps: 20px;
