[Desktop Entry]
Name=Steam (Native)
Comment=Application for managing and playing games on Steam
Exec=env GDK_SCALE=1.4 /usr/bin/steam-native %U --enable-features=UseOzonePlatform --ozone-platform=wayland
StartupWMClass=Steam
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
