// tip: on dark mode the primary and primary container are inverted
// in other words prefer to use primary container since the color is more uniform
// and use the primary for very special scenenarios but rarely
// thus if u want light mode take in account this and switch it around
// broken english cause too lazy to think
$color_primary: #9acbfa;
$color_on_primary: #003352;
$color_primary_container: #0b4a72;
$color_on_primary_container: #cde5ff;

$color_secondary: #b9c8da;
$color_on_secondary: #233240;
$color_secondary_container: #3a4857;
$color_on_secondary_container: #d5e4f6;

$color_tertiary: #e7b6f1;
$color_on_tertiary: #462151;
$color_tertiary_container: #5e3869;
$color_on_tertiary_container: #fad7ff;

$color_surface: #21252b;
$color_surface_container: #282c34;

$color_on_surface: #abb2bf;
$color_on_surface_variant: #7f848e;

$color_error: #ffb3b6;
$color_on_error: #561d23;
$color_error_container: #723338;
$color_on_error_container: #ffdada;

$color_warning: #ecc06c;
$color_on_warning: #412d00;
$color_warning_container: #5d4200;
$color_on_warning_container: #ffdea4;

$color_info: #acd28f;
$color_on_info: #193705;
$color_info_container: #2f4f1b;
$color_on_info_container: #c7eea9;

$color_inverse_surface: #e1e2e9;
$color_inverse_on_surface: #2e3035;
$color_inverse_primary: #3e5f90;

$color_outline: #8e9199;
$color_outline_variant: #43474e;

$border_radius: 4px;

// other
$space_medium: 7.2px; // ideal for spacing parent items, ex: widgets...
$space_small: 4px; // ideal for spacing children items, ex: text in a label, icons that are next to each other...
$space_from_other_layers: 20px;

* {
   all: unset;
   font-family: "IosevkaTerm Nerd Font Mono";
   font-size: 18px;
}
