.notifications-popup {
   button {
      background: blue;
   }

   .left-offset {
     background: green;
   }

   & .top-offset {
      min-height: $space_from_other_layers;
   }

   & .right-offset {
      min-width: 20px;
   }

   & .notification {
      background: $color_surface;
      border: 4px solid $color_outline_variant;
      margin-bottom: $space_medium;
      min-width: 500px;

      &:last-child {
         margin-bottom: 0;
      }

      // i have no idea why i have to override this
      & .header {
         & .time {
            background: $color_surface;
         }
      }
   }
}
