# Ignore everything by default
*

# Not yourself dude
!/.gitignore

# But not directories (so we can descend into them)
!*/

# Then ignore everything inside those directories
*/*

# Except PKGBUILD files at depth 1 (inside each folder)
!*/PKGBUILD
