$color_primary: #e06c75;
$color_on_primary: #000000;
$color_error: #ff0000;
$color_on_error: #000000;
$color_background: #15171c;
$color_on_background: #abb2bf;
$color_surface: #282c34;
$color_on_surface: #abb2bf;
$color_alert: #d19a66;
$color_on_alert: #000000;
$color_border: #7f848e;

* {
  all: unset;
  font-family: "IosevkaTerm Nerd Font Mono";
  font-size: 18px;
  font-weight: 500;
}
