// tip: on dark mode the primary and primary container are inverted
// in other words prefer to use primary container since the color is more uniform
// and use the primary for very special scenenarios but rarely
// thus if u want light mode take in account this and switch it around
// broken english cause too lazy to think
$color_primary: #ffb3b6;
$color_on_primary: #561d23;
$color_primary_container: #723338;
$color_on_primary_container: #ffdada;

$color_secondary: #e6bdbd;
$color_on_secondary: #44292a;
$color_secondary_container: #5d3f40;
$color_on_secondary_container: #ffdada;

$color_tertiary: #e7b6f1;
$color_on_tertiary: #462151;
$color_tertiary_container: #5e3869;
$color_on_tertiary_container: #fad7ff;

$color_surface: #111318;
$color_surface_container: #1E2127;

$color_on_surface: #abb2bf;
$color_on_surface_variant: #7f848e;

$color_error: #ffb3ae;
$color_on_error: #571e1c;
$color_error_container: #733330;
$color_on_error_container: #ffdad7;

$color_warning: x;
$color_on_warning: x;
$color_warning_container: yellow;
$color_on_warning_container: x;

$color_inverse_surface: #e1e2e9;
$color_inverse_on_surface: #2e3035;
$color_inverse_primary: #8f4a4e;

$color_outline: #8d9199;
$color_outline_variant: #43474e;

$border_radius: 4px;

// other
$space_medium: 7.2px; // ideal for spacing parent items, ex: widgets...
$space_small: 4px; // ideal for spacing children items, ex: text in a label, icons that are next to each other...

* {
   all: unset;
   font-family: "IosevkaTerm Nerd Font Mono";
   font-size: 18px;
   font-weight: 500;
}
