@mixin bar-module {
   background: $color_surface_container;
   color: $color_on_surface;
   border-radius: $border_radius;
   padding: 4px;

   &.active {
      background: $color_primary_container;
   }
}

@mixin container-base {
   padding: 4px;
   border-radius: 4px;
}
