@mixin container_shape {
   border-radius: 4px;
}

@mixin bar_item {
   @include container_shape();
   background: $color_surface_container;
   color: $color_on_surface;
   padding: $space_small;

   &.active {
      background: $color_primary_container;
   }

   &.urgent {
      background: $color_warning_container;
   }
}
