@mixin bar-module {
   background: $color_surface;
   color: $color_on_surface;
   border-radius: $border_radius;
   padding: 4px;

   &.active {
      background: transparentize($color_primary, 0.5);
   }
}
