.app-launcher {
   & .top-offset {
      min-height: 200px;
   }

   & .main-box {
      min-width: 500px;
      background: $color_surface;
      border-radius: $border_radius;
      border: 4px solid $color_outline_variant;
      padding: 8px;

      & > entry {
         & > text {
            font-size: 28px;
            color: $color_on_surface;
         }

         background: $color_surface_container;
         margin-bottom: 8px;
         border-radius: $border_radius;
      }

      & > .hotswap-box {
         & .empty-box {
            color: $color_on_surface;
            background: $color_surface_container;
         }

         & .sh-box {
            color: $color_on_surface;
            background: $color_surface_container;
         }

         & .apps-box {
            & > button {
               padding: 8px;
               background: $color_surface_container;
               border-radius: $border_radius;
               margin-bottom: 8px;

               &:last-child {
                  margin-bottom: 0;
               }

               &:hover {
                  background: $color_primary_container;

                  .name {
                     color: $color_on_primary_container;
                  }

                  .description {
                     color: $color_on_primary_container;
                  }
               }

               &.selected {
                  background: $color_primary;

                  .name {
                     color: $color_on_primary;
                  }

                  .description {
                     color: $color_on_primary;
                  }
               }

               & > box {
                  & .icon-with-label-fallback {
                     & > image {
                        -gtk-icon-size: 55px;
                     }

                     & > label {
                        font-size: 55px;
                        min-width: 55px;
                     }

                     margin-right: 8px;
                  }

                  & .name {
                     font-size: 22px;
                     color: $color_on_surface;
                  }

                  & .description {
                     font-size: 18px;
                     color: $color_on_surface_variant;
                  }
               }
            }
         }
      }
   }
}
