.app-launcher {
   &-content {
      background: $color_background;
      color: $color_on_background;
      border-radius: 4px;
      min-width: 500px;
      margin: 100px;
      padding: 8px;

      &-entry {
         background: $color_surface;
         margin-bottom: 8px;
         font-size: 28px;
         border-radius: 4px;
      }

      &-hotswap {
      }

      &-apps {
         & .app-launcher-app {
            & .app-launcher-app-name {
               font-size: 22px;
            }

            & .app-launcher-app-description {
               font-size: 18px;
            }

            & > icon {
               font-size: 55px;
               margin-right: 8px;
            }
         }
      }
   }

   .rrr {
      padding: 8px;
      background: $color_surface;
      border-radius: 4px;
      margin-bottom: 8px;

      &:hover {
         background: $color_primary;
      }
   }
}
