.app-launcher {
   & .main-box {
      min-width: 500px;
      background: $color_background;
      color: $color_on_background;
      border-radius: 4px;
      padding: 8px;

      & > entry {
         background: $color_surface;
         margin-bottom: 8px;
         font-size: 28px;
         border-radius: 4px;
      }

      & > .hotswap-box {
         & .apps-container {
            & > button {
               padding: 8px;
               background: $color_surface;
               border-radius: 4px;
               margin-bottom: 8px;

               &:last-child {
                  margin-bottom: 0;
               }

               &:hover {
                  background: transparentize($color_primary, 0.5);
               }

               &.selected {
                  background: transparentize($color_primary, 0.5);
               }

               & > box {
                  & > icon {
                     font-size: 55px;
                     margin-right: 8px;
                  }

                  & .name {
                     font-size: 22px;
                  }

                  & .description {
                     font-size: 18px;
                     color: darken($color_on_surface, 10%);
                  }
               }
            }
         }
      }
   }
}
