$space_between_bar_modules: 7.2px;

@keyframes ripple {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

icon {
   font-size: 22px;
}

.bar {
   background: $color_background;

   > centerbox {
      padding: 8px;
   }
}

.app-launcher-b {
   @include bar-module();
   margin-right: $space_between_bar_modules;
}

.hyprland-workspaces {
   @include bar-module();
   margin-right: $space_between_bar_modules;

   > button {
      margin-right: 4px;
      background: $color_background;
      min-width: 3pt;
      min-height: 3pt;
      border-radius: 10%;
      padding: 5px;
      transition: background 0.1s linear;

      &.occupied {
         background: $color_on_surface;
      }

      &.active {
         background: $color_primary;
      }

      &.urgent {
         background: $color_alert;
      }

      &:last-child {
         margin-right: 0;
      }

      > label {
         font-size: 0;
      }
   }
}

.hyprland-taskbar {
   & > button {
      @include bar-module();
      margin-right: $space_between_bar_modules;

      &:hover {
         background: $color_primary;
      }
   }
}

.notifications {
   margin-right: $space_between_bar_modules;

   & > button {
      @include bar-module();
   }
}

.time {
   @include bar-module();
   margin-right: $space_between_bar_modules;
}

.system-tray {
   margin-left: 7.2px;

   .tray-item {
      @include bar-module();
      margin-left: $space_between_bar_modules;
   }

   menu {
      background: $color_background;
      border: 2px solid $color_border;
      border-radius: 4px;
      padding: 10px;

      menuitem {
         margin-bottom: 7.2px;
         background: $color_surface;
         border-radius: 4px;
         padding: 4px;

         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}

.battery {
   @include bar-module();
   margin-left: $space_between_bar_modules;
}

.indicators {
   @include bar-module();
   margin-left: $space_between_bar_modules;

   & > box {
      & > icon,
      & > label {
         margin-left: 4px;

         &:first-child {
            margin-left: 0px;
         }
      }
   }
}

.power {
   @include bar-module();
   margin-left: $space_between_bar_modules;
}
