.bar {
   background: $color_surface;

   & > .main-center-box {
      padding: $space_medium;

      .icon-with-label-fallback {
         &.image {
            -gtk-icon-size: 24px;
         }

         &.label {
            min-width: 24px;
            min-height: 24px;
            line-height: 1;
         }
      }

      .app-launcher {
         @include bar_item();
         margin-right: $space_medium;

         &:hover {
            background: $color_primary_container;
         }

         &.active {
            background: $color_primary_container;
         }

         &.urgent {
            background: $color_tertiary_container;
         }
      }

      .workspaces {
         @include bar_item();
         margin-right: $space_medium;

         & > button {
            @include container_shape();
            margin-right: 4px;
            background: $color_surface;
            min-width: 12px;

            &:hover {
               background: $color_primary_container;
            }

            &:last-child {
               margin-right: 0;
            }

            &.occupied {
               background: $color_secondary_container;

               &:hover {
                  background: $color_primary_container;
               }
            }

            &.active {
               background: $color_primary_container;
            }

            &.urgent {
               background: $color_warning_container;

               &:hover {
                  background: $color_primary_container;
               }
            }

            & > label {
               font-size: 0;
            }
         }
      }

      .taskbar {
         & > button {
            @include bar_item();
            margin-right: $space_medium;

            &:hover {
               background: $color_primary_container;
            }
         }
      }

      .notifications {
         margin-right: $space_medium;

         & > button {
            @include bar_item();

            &:hover {
               background: $color_primary_container;
            }
         }
      }

      .time {
         @include bar_item();
         margin-right: $space_medium;
      }

      .system-tray {
         & > menubutton {
            @include bar_item();
            margin-left: $space_medium;

            &:hover {
               background: $color_primary_container;
            }

            & image {
               -gtk-icon-size: 24px;
            }
         }

         popover {
            all: unset;
            background: $color_surface;
            border: 4px solid $color_outline_variant;
            border-radius: $border_radius;
            padding: $space_medium;
            padding-top: 0;
            margin-top: 0;

            modelbutton {
               @include container-shape();
               margin-top: $space_medium;
               background: $color_surface_container;
               padding: $space_small;
               color: $color_on_surface;

               &:first-child {
                  margin-bottom: 0;
               }

               &:hover {
                  background: $color_primary_container;
               }
            }
         }
      }

      ._ram {
         @include bar_item();
         margin-left: $space_medium;

         & > .icon-with-label-fallback {
            margin-right: $space_small;
         }
      }

      .cpu {
         @include bar_item();
         margin-left: $space_medium;

         & > .icon-with-label-fallback {
            margin-right: $space_small;
         }
      }

      .battery {
         @include bar_item();
         margin-left: $space_medium;
      }

      .indicators {
         @include bar_item();
         margin-left: $space_medium;

         & > box {
            & > .icon-with-label-fallback {
               margin-left: $space_small;

               &:first-child {
                  margin-left: 0;
               }
            }
         }
      }

      .power {
         @include bar_item();
         margin-left: $space_medium;

         &:hover {
            background: $color_primary_container;
         }

         & .active {
            background: $color_primary_container;
         }

         & .urgent {
            background: $color_tertiary_container;
         }
      }
   }
}
