.notification {
   background: $color_surface_container;
   margin-bottom: 8px;
   border-radius: $border_radius;
   min-width: 500px;
   padding: 8px;

   & .header {
      & .app-icon {
         -gtk-icon-size: 24px;
         margin-right: 4px;
      }

      & .app-name {
         color: $color_on_surface;
         font-size: 18px;
      }

      & .time {
         color: $color_on_surface;
         font-size: 18px;
         margin-right: 4px;
      }

      & .close {
         @include container-base();
         color: $color_on_primary_container;
         background: $color_primary_container;

         image {
            -gtk-icon-size: 24px;
         }
      }
   }

   & > separator {
      margin: 0 0.4rem;
      background-color: $color_outline_variant;
   }

   & .content {
      padding: 8px;

      & .image {
         min-width: 100px;
         margin-right: 10px;
         border-radius: $border_radius;
      }

      & .summary {
         font-size: 18px;
         margin-bottom: 4px;
         color: $color_on_surface;
      }

      & .body {
         font-size: 16px;
         margin-bottom: 4px;
         color: $color_on_surface_variant;
      }
   }

   & .actions {
      & > button {
         @include container-base();
         background: $color_primary_container;
         margin-right: 4px;

         &:last-child {
            margin-right: 0;
         }

         & > label {
            color: $color_on_primary_container;
         }
      }
   }
}
