.notification {
   background: $color_background;
   color: $color_on_background;
   margin-bottom: 8px;
   border-radius: $border_radius;
   min-width: 500px;
   padding: 8px;

   & .notification-header {
      & .notification-app-icon {
         font-size: 22px;
         margin-right: 4px;
      }

      & .notification-app-name {
         font-size: 18px;
      }

      & .notification-time {
         font-size: 18px;
         margin-right: 4px;
      }

      & .notification-close {
         font-size: 22px;
      }
   }

   & > separator {
      margin: 0 0.4rem;
      background-color: $color_on_surface;
   }

   & .notification-content {
      padding: 8px;

      & .notification-image,
      & > .icon-with-label-fallback {
         & > icon {
            font-size: 75px;
         }

         margin-right: 10px;
         border-radius: $border_radius;
      }

      & > box {
         & .notification-summary {
            font-size: 18px;
            margin-bottom: 4px;
         }

         & .notification-body {
            font-size: 16px;
            margin-bottom: 4px;
            color: transparentize($color_on_surface, 0.2);
         }
      }
   }

   & .notification-actions {
      & > button {
         background: $color_surface;
         border-radius: $border_radius;
         margin-right: 4px;

         &:last-child {
            margin-right: 0;
         }

         & > label {
            color: $color_primary;
         }
      }
   }
}
