.notification {
   background: $color_surface_container;
   border-radius: $border_radius;
   padding: $content_padding;

   & .header {
      & .app-icon {
         -gtk-icon-size: 24px;
         margin-right: 4px;
         padding: $content_padding;
      }

      & .app-name {
         color: $color_on_surface;
         font-size: 18px;
         padding: $content_padding;
      }

      & .time {
         color: $color_on_surface;
         font-size: 18px;
         margin-right: 4px;
         padding: $content_padding;
      }

      & .close {
         @include container_shape();
         color: $color_on_primary_container;
         background: $color_primary_container;
         padding: $content_padding;

         image {
            -gtk-icon-size: 24px;
         }
      }
   }

   & > separator {
      margin: 0 0.4rem;
      background-color: $color_outline_variant;
   }

   & .content {
      & .image {
         min-width: 100px;
         margin-right: 10px;
         border-radius: $border_radius;
         padding: $content_padding;
      }

      & .summary {
         font-size: 18px;
         margin-bottom: 4px;
         color: $color_on_surface;
         padding: $content_padding;
      }

      & .body {
         font-size: 16px;
         margin-bottom: 4px;
         color: $color_on_surface_variant;
         padding: $content_padding;
      }
   }

   & .actions {
      & > button {
         @include container_shape();
         background: $color_primary_container;
         margin-right: 4px;
         padding: $content_padding;

         &:last-child {
            margin-right: 0;
         }

         & > label {
            color: $color_on_primary_container;
         }
      }
   }
}
