.notifications-popup {
   & .top-offset {
      min-height: 20px;
   }

   & .right-offset {
      min-width: 20px;
   }

   & .filler-button {
      background: pink;
   }

   & .notification {
      background: $color_surface;
      border: 4px solid $color_outline_variant;
      margin-bottom: $space_between_items;
      min-width: 500px;

      &:last-child {
         margin-bottom: 0;
      }

      // i have no idea why i have to override this
      & .header {
         & .time {
            background: $color_surface;
         }
      }
   }
}
