.notifications-overview {
   & .main-box {
      @include container-base();
      min-width: 500px;
      min-height: 500px;
      background: $color_surface;

      border: 4px solid $color_outline_variant;

      padding: 10px;
      margin: 0.5rem 1rem 0.5rem 1rem;

      & > box {
         margin-bottom: 8px;

         &:last-child {
            margin-bottom: 0;
         }
      }

      & .actions-box {
         & > button {
            @include container-base();
            background: $color_primary_container;
            color: $color_on_primary_container;
         }
      }

      & .notifications-box {
         & .notification {
            background: $color_surface_container;
            color: $color_on_surface;
         }
      }
   }
}
