.notifications-overview {
  // background: pink;

  .notifications-overview-content {
    min-width: 500px;
    min-height: 500px;
    background: $color_background;

    border: 2px solid $color_border;

    padding: 10px;
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}
