.notifications-overview {
   & .top-offset {
      min-height: 20px;
   }

   & .main-box {
      @include container_shape();
      min-width: 500px;
      min-height: 500px;
      padding: $space_between_items;
      background: $color_surface;
      border: 4px solid $color_outline_variant;

      & > box {
         margin-bottom: $space_between_items;

         &:last-child {
            margin-bottom: 0;
         }
      }

      & .actions-box {
         & > button {
            @include container_shape();
            padding: $content_padding;
            background: $color_primary_container;
            color: $color_on_primary_container;
         }
      }

      & .notifications-box {
         & .notification {
            margin-bottom: $space_between_items;
            background: $color_surface_container;
            color: $color_on_surface;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   }
}
