.power-menu {
   & .main-box {
      @include container_shape();
      background: $color_surface_container;
      border: 4px solid $color_outline_variant;

      button {
         @include container_shape();
         background: $color_primary_container;
         margin-right: 4px;

         &:last-child {
            margin-right: 0;
         }

         &:hover {
            color: $color_primary;
         }

         & .icon-with-label-fallback {
            image {
               -gtk-icon-size: 55px;
               color: $color_on_primary_container;
            }
         }

         &.one {
            color: black;
            background: linear-gradient(
               to top,
               $color_primary 33.33%,
               $color_surface 66.67%
            );
         }

         &.two {
            color: black;
            background: linear-gradient(
               to top,
               $color_primary 66.66%,
               $color_surface 33.34%
            );
         }

         &.three {
            color: black;
            background: $color_primary;
         }
      }
   }
}
