$border-radius: 4px;

$spacing-medium: 10px; // ideal for spacing parent items, ex: widgets...
$spacing-small: 4px; // ideal for spacing children items, ex: text in a label, icons that are next to each other...
$window-gaps: 20px;
